.dark {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: black;
}

.light {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: white;
}

.light p span.calibre_1 {
  font-weight: normal;
}
